{{#if isLogged}}
<a href="/logout" class="btn btn-primary">logout</a>
<a href="/agregar.html" class="btn btn-secondary">add new product</a>
{{else}}
<a href="/login" class="btn btn-primary">Login</a>
{{/if}}